.educacion {
  width: 90vw;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: whitesmoke;

  &__text {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    h2, p{
        background-color: whitesmoke;
    }
  
   
  }
}
