.mas{
    width: 90vw;
     display: flex; 
     flex-wrap: wrap;
     justify-content: space-around; 
     align-items: center; 
    margin: auto;
    background-color:  rgb(245, 245, 245, 0.4);

   



}