

.botones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 20px;
    flex-wrap: wrap;

    button{
        cursor: pointer;
        width: 120px;
        border-radius: 8px;
        padding: 1%;
        text-transform: uppercase;

        background-color:  rgb(245, 245, 245, 0.4);

    }
    


  
}
